

/* ----- Navbar ----- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  height: 80px;
  color: black;
}

.logo {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 30px;
  color: var(--primary-color);
}

.site-logo img {
  width: 70px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  text-align: center;
  margin: 0 30px;
  padding: 10px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-item h2 {
  margin: 0;
  font-size: 18px;
}

.nav-item p {
  margin: 5px 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.nav-item:hover {
  color: var(--primary-color);
}

/* ----- Mobile Menu ----- */
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 30px;
    color: black;
  }

  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-toggle svg {
    font-size: 20px;
  }
  
  .nav-list {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
  }
  
  .nav-list.active {
    right: 0;
  }
  
  .nav-item {
    margin: 15px 0;
    width: 80%;
    text-align: center;
  }
}

/* ----- Hero Section ----- */
.hero {
  position: relative;
  color: black;
  padding: 120px 20px;
  text-align: center;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 80px;
  background: none; /* Remove background image overlay */
}

.hero h2 {
  font-size: 3rem;
  max-width:80%;
  padding-bottom: 15px;
}

.hero p {
  color: #333;
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 60%;
  line-height: 1.6;
}

/* ---- hero responsive ----- */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }
  .hero p {
    font-size: 16px;
  }
}

/* ----- Visit Section ----- */
.visit {
  padding: 40px 20px;
  background: #f8f8f8;
  text-align: center;
}

.visit h2 {
  margin: 0;
  font-size: 2.5rem;
  color: #121212;
  font-family: 'Cairo', sans-serif;
}

.schedule-info {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  color: #333;
  font-size: 20px;
}

.schedule-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.schedule-link:hover {
  color: #fff;
  background: var(--primary-color);
  padding: 2px;
}

/* ----- Events Section ----- */
.events {
  padding: 40px 20px;
  text-align: center;
}

.events h2 {
  font-size: 2.5rem;
  color: #121212;
  margin-bottom: 40px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto 40px;
}

.event-card {
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 0 12px #ddd;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #eee;
}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 12px;
  padding: 20px;
}

.event-card:hover {
  background-color: var(--hover-card);
}

.event-content h3 {
  font-size: 1.2rem;
  color: #121212;
  line-height: 1.4;
  font-weight: 700;
}

.event-content p {
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
}

.event-date {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
}

.event-card .card-link {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  transition: all .3s ease;
}

.card-link .link-icon {
  display: inline-block;
  font-size: 12px;
  transition: transform 0.3s ease;
}

.card-link:hover .link-icon {
  transform: translateX(8px);
}

.view-events {
  padding: 10px 22px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.view-events:hover {
  color: #f8f8f8;
  background-color: var(--primary-color);
}

/* --- Martyr Section */
.martyr-section {
  margin: 30px 0;
}

.martyr-section .header-section{
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  color: #121212;
  margin-bottom: 20px;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto 40px auto;
}

.martyr-card {
  display: flex;
  align-items: left;
  text-align: left;
  flex-direction: column;
  background-color: #eee;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(4px);

  border: 1px solid #ddd;
  box-shadow: 0 0 12px #eee inset;
  padding: 0;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  /* aspect-ratio: 1/1; */
}

.martyr-card:hover {
  background-color: var(--hover-card);
}

.martyr-card img {
  padding: 0px;
  object-fit: cover;
  width: calc(100% - 0px);
  /* height: 100px; */
  /* border-radius: 12px 0; */
}

.content-section {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  padding-top: 16px;
  font-size: 1.2rem;
  color: #121212;
  line-height: 1.4;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.desc {
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
}

.date-section {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  top: 10px;
  gap: 8px
}

.card-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
  font-weight: 700;
  /* width: fit-content  ; */
  justify-content: center;
}

.card-link svg {
  width: 8px;
  transition: transform .3s ease;
}

.card-link:hover svg {
  transform: translateX(8px);
}

@media (max-width: 768px) {
  .martyr-card {
    margin: auto;
    max-width: 80vw;
  }
}

/* --- Quotes Section --- */
.quotes {
  /* padding: 60px 20px; */
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.quotes h2 {
  font-size: 2.5rem;
  color: #121212;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.scroll-container {
  --gap: 50px;
  display: flex;
  gap: var(--gap);
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

.quote-container {
  /* padding-left: var(--gap); */
  flex-shrink: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  min-width: 100%;
  list-style-type: none;
  margin-bottom: 40px;
  animation: scroll 40s linear infinite;
  overflow: hidden;
}
/* Add to your CSS module */
.quotes-card {
  position: relative;
  contain: content;
}

.quote-icon {
  position: absolute;
  top: 1rem;
  left: 0rem;
  opacity: 0.1;
  font-size: 4rem;
  z-index: 0;
}

blockquote {
  margin: 0;
  position: relative;
  z-index: 1;
}

cite {
  display: block;
  margin-top: 1rem;
  font-style: normal;
}
@media (max-width: 768px) {
  .quote-container {
    flex-shrink: 0;
  }
  .quotes-card {
    min-width: 80vw;
  }
}


.scroll-container:hover .quote-container {
  animation-play-state: paused; /* Pause animation on hover */
}

@keyframes scroll {
  from {
    transform: translateX(0); /* Start from the initial position */
  }
  to {
    transform: translateX(calc(-100% - var(--gap))); /* Move left by 100% + gap */
  }
}

.quotes-card {
  display: flex;
  align-items: left;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
  background-color: #eee;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid #ddd;
  box-shadow: 0 0 12px #eee inset;
  padding: 30px;
  border-radius: 12px;
  transition: all 0.3s ease;
  min-width: 300px;
  height: 80%;
}

.quotes-card:hover {
  background: none;
  background-color: var(--hover-card);
}

.quotes-card h3 {
  font-size: 1.1rem;
  color: #333;
  margin: 0 0 15px 0;
  letter-spacing: 0.5px;
}

.quotes-card p {
  font-size: 1.1rem;
  color: #333;
  margin: 0;
  line-height: 1.4;
}



/* ----- Footer Section ----- */
footer {
  background: #eee;
  color: #121212;
  padding: 40px 20px;
  font-family: 'Cairo', sans-serif;
  position: relative;
  margin-top: 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-left {
  flex: 1;
}
.footer-left>*>* {
  cursor: pointer;
}



.logo-footer {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-address p {
  text-align: left;
  margin: 5px 0;
  color: #121212;
  font-size: 1.1rem;
}

.footer-divider {
  border-color: #eee;
  margin: 20px auto;
  max-width: 1200px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto 30px auto;
}

.footer-right ul {
  text-align: left;
  list-style-type: none;
  /* cursor: pointer; */

}

.footer-right .content {
  margin-bottom: 10px;
  font-size: 1rem;
}

.footer-right .content:hover {
  color: var(--primary-color);
}

.footer-right .header {
  color: #505050bb;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.logo-footer {
  font-size: 1.4rem;
  font-weight: 700;
  color: #121212;
  cursor: pointer;
}
.logo-footer:hover {
  color: var(--primary-color);
}

.rights {
  padding-top: 20px;
}

a.club {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;

}
a.club:hover {
  color: var(--primary-color);
}

.fac-links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.fac-links span {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 500;
}
.fac-links span:hover {
  color:var(--primary-color)
}

/* ---- Responsive Footer ---- */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-top .footer-right {
    gap: 20px;
    margin: 0 0 30px 0;
  }
}



